In [2]:
pip install pandas numpy

Requirement already satisfied: pandas in /home/momo/.local/lib/python3.8/site-packages (1.3.3)
Requirement already satisfied: numpy in /home/momo/.local/lib/python3.8/site-packages (1.21.1)
Requirement already satisfied: pytz>=2017.3 in /usr/lib/python3/dist-packages (from pandas) (2019.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/lib/python3/dist-packages (from pandas) (2.7.3)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import numpy as np
import pandas as pd
print("Setup complete.")

Setup complete.

In [5]:
data = pd.read_csv('../input/glioblastoma-radiosensitivity-dataset/glioblastoma_data/extracted_data/cell_behaviors/videos_transcriptions_csv/0gy_n1_201104.nd2u2510GyA3A.csv')

data.head()

   time  event     input                    output
0     0  begin        []                        C1
1    66    div        C1          ['C1.1', 'C1.2']
2   238    div      C1.1      ['C1.1.1', 'C1.1.2']
3   386    div    C1.1.1  ['C1.1.1.1', 'C1.1.1.2']
4   432    end  C1.1.1.1                        []

In [14]:
data.describe(include=[object])

       event input output
count    125   125    125
unique     6   117     65
top      end    []     []
freq      59     9     61

In [15]:
data.describe(include="all")

             time event input output
count   125.00000   125   125    125
unique        NaN     6   117     65
top           NaN   end    []     []
freq          NaN    59     9     61
mean    328.94400   NaN   NaN    NaN
std     147.00051   NaN   NaN    NaN
min       0.00000   NaN   NaN    NaN
25%     256.00000   NaN   NaN    NaN
50%     414.00000   NaN   NaN    NaN
75%     432.00000   NaN   NaN    NaN
max     432.00000   NaN   NaN    NaN